{% extends 'base.html' %}

{% block content %}

<section>
    <div class="bg-white text-dark text-center p-5">
        <h1>
            Beer Resources
        </h1>
    </div>
    <div class="container-fluid justify-content-evenly align-items-center bg-white">
        <iframe class="container-fluid bg-white" src="../../static/images/Beer 101 _ Your 2 Minute Beer Crash Course.mp4" allowfullscreen></iframe>
        <iframe type="text/html" sandbox="allow-scripts allow-same-origin allow-popups" width="370" height="550" frameborder="0" allowfullscreen style="max-width:100%" src="https://read.amazon.com/kp/card?asin=B08WK74H77&preview=inline&linkCode=kpe&ref_=cm_sw_r_kb_dp_S6PGPX26KH70PBBNENYX" ></iframe>
        <iframe type="text/html" sandbox="allow-scripts allow-same-origin allow-popups" width="370" height="550" frameborder="0" allowfullscreen style="max-width:100%" src="https://read.amazon.com/kp/card?asin=B072PSVNJ6&preview=inline&linkCode=kpe&ref_=cm_sw_r_kb_dp_1FEFMRZEJ3KGCY3ATV90" ></iframe>
        <iframe type="text/html" sandbox="allow-scripts allow-same-origin allow-popups" width="370" height="550" frameborder="0" allowfullscreen style="max-width:100%" src="https://read.amazon.com/kp/card?asin=B09GPLPSMC&preview=inline&linkCode=kpe&ref_=cm_sw_r_kb_dp_39CE1Y2593TG6AXQ6WGN" ></iframe>
        <iframe type="text/html" sandbox="allow-scripts allow-same-origin allow-popups" width="370" height="550" frameborder="0" allowfullscreen style="max-width:100%" src="https://read.amazon.com/kp/card?asin=B0B84J9KT6&preview=inline&linkCode=kpe&ref_=cm_sw_r_kb_dp_ZCN61761PN44KFDQPDSA" ></iframe>
        <iframe type="text/html" sandbox="allow-scripts allow-same-origin allow-popups" width="370" height="550" frameborder="0" allowfullscreen style="max-width:100%" src="https://read.amazon.com/kp/card?asin=B09BVMVJTD&preview=inline&linkCode=kpe&ref_=cm_sw_r_kb_dp_ZYAW321HNMF3YKSPRN08" ></iframe>
    </div>
</section>
{% endblock %}